<div class="pageContainer">
  <div class="allListing" *ngIf="listings.length > 0">
    <div class="allListingHeader">
      <div class="h2 dalla">Your Listings</div>
      <div class="allListingHeaderRight">
        <div class="dropdownContainer h6 dalla" tabindex="0">
          <div *ngIf="location !== ''">{{ location }}</div>
          <div *ngIf="location === ''">All Locations</div>
          <div class="dropdownOptions">
            <div (click)="handleLocationClick('')">All Locations</div>
            <div
              *ngFor="let location of locations"
              (click)="handleLocationClick(location)"
            >
              {{ location }}
            </div>
          </div>
        </div>
        <div class="dropdownContainer h6 dalla" tabindex="0">
          <div
            *ngIf="(start === lowestRent && end === highestRent) || start === 0"
          >
            All Prices
          </div>
          <div
            *ngIf="(start !== lowestRent || end !== highestRent) && start !== 0"
          >
            {{ start }} - {{ end }}
          </div>
          <div class="dropdownOptions priceOptions">
            <div (click)="handlePriceChange(lowestRent, highestRent)">
              Price Range
            </div>
            <div
              *ngFor="let num of means; let i = index; let last = last"
              (click)="handlePriceChange(num, means[i + 1])"
            >
              {{ num }} - {{ means[i + 1] }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="allListingList">
      <div class="allListingCard" *ngFor="let listing of filteredListings">
        <a class="smallIcon" href="./edit/{{ listing.id }}" style="height: 24px;">
          <svg
            width="24px"
            height="24px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M20.1498 7.93997L8.27978 19.81C7.21978 20.88 4.04977 21.3699 3.32977 20.6599C2.60977 19.9499 3.11978 16.78 4.17978 15.71L16.0498 3.84C16.5979 3.31801 17.3283 3.03097 18.0851 3.04019C18.842 3.04942 19.5652 3.35418 20.1004 3.88938C20.6356 4.42457 20.9403 5.14781 20.9496 5.90463C20.9588 6.66146 20.6718 7.39189 20.1498 7.93997V7.93997Z"
                stroke="var(--secondary)"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </g>
          </svg>
        </a>
        <img src="{{ listing.imageUrl1 }}" />
        <div class="h4 dalla">{{ listing.ListingTitle }}</div>
        <div class="h6">
          {{ listing.ListingDescription }}
        </div>
        <a class="primary button h4" href="./listing/{{ listing.id }}"
          >Know More</a
        >
        <div></div>
      </div>
    </div>
  </div>
  <div class="allListing" *ngIf="listings.length === 0">No listings found.</div>
</div>
