.allListing {
  display: grid;
  gap: 24px;
}

.allListingList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

.allListingList > * {
  /* height: max-content; */
  display: grid;
  gap: 12px;
  grid-template-rows: max-content max-content 1fr 34px;
  /* align-content: baseline; */
  border: 1px solid var(--primary);
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.allListingList > * > * {
  margin: 0px 12px;
}

.allListingList > * > img {
  margin: 0px;
  width: 100%;
  aspect-ratio: 16/9;
}

.allListingList .button {
  align-content: flex-end;
  height: 18px;
}

.allListingCard > .smallIcon {
  position: absolute;
  right: 0px;
  top: 12px;
}

.allListingHeader {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
}

.allListingHeaderRight {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.allListingHeaderRight {
  display: grid;
  gap: 18px;
}
