<div class="loginContainer">
  <form class="login" [formGroup]="registerForm" #registrationForm="ngForm">
    <div></div>
    <div class="h4 dalla">Sign Up</div>
    <div>Please enter your details</div>
    <div></div>
    <div class="inputContainer">
      <div class="label h6">Name</div>
      <input
        placeholder="Name"
        formControlName="Username"
        name="name"
        type="text"
        class="{{
          registerForm.get('Username')?.invalid &&
          registerForm.get('Username')?.touched
            ? 'redBorder'
            : ''
        }}"
      />
      <div
        *ngIf="
          registerForm.get('Username')?.invalid &&
          registerForm.get('Username')?.touched
        "
      >
        <small class="text-danger">{{ getErrorMessage("name") }}</small>
      </div>
    </div>
    <div></div>
    <div class="inputContainer">
      <div class="label h6">Email</div>
      <input
        placeholder="Email"
        formControlName="UserEmail"
        name="email"
        type="email"
        class="{{
          registerForm.get('UserEmail')?.invalid &&
          registerForm.get('UserEmail')?.touched
            ? 'redBorder'
            : ''
        }}"
      />
      <div
        *ngIf="
          registerForm.get('UserEmail')?.invalid &&
          registerForm.get('UserEmail')?.touched
        "
      >
        <small class="text-danger">{{ getErrorMessage("email") }}</small>
      </div>
    </div>
    <div></div>
    <div class="inputContainer">
      <div class="label h6">Password</div>
      <input
        placeholder="Password"
        formControlName="Password"
        name="password"
        type="password"
        class="{{
          registerForm.get('Password')?.invalid &&
          registerForm.get('Password')?.touched
            ? 'redBorder'
            : ''
        }}"
      />
      <div
        *ngIf="
          registerForm.get('Password')?.invalid &&
          registerForm.get('Password')?.touched
        "
      >
        <small class="text-danger">{{ getErrorMessage("password") }}</small>
      </div>
    </div>
    <div></div>
    <button class="primary bold h6" (click)="register()">Register</button>
    <div></div>
    <div style="text-align: center">
      Have an account?
      <a href="./login" style="color: var(--secondary)">Login</a>
    </div>
  </form>
</div>
